.container{
 max-width:1140px;
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
 display: flex;
}
.container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header{
  padding: 5px  0 ;

  &__Logo{

    width:200px;
  
  }

  &__nav{
    display: flex;
    margin-left: auto;



    

&-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

&-item{
  display: inline-block;
}

&-link{
  padding: 10px;
}


  }


  &__logo-link{
    display: flex;
  }


   &__container{
     @extend .container;
   }
}



.navbar-nav li{

 display: inline-block;

}
.navbar-nav li a{

  padding: 5px 10px;
 
 }

.ml-auto{
  margin-left: auto;
}
.navbar-nav{
  margin:0; 
  padding: 0;
}